@model IEnumerable<AppTaquilla.Models.SalasconAsientos>

    @{
        ViewBag.Title = "Salas";
    }

    <h2>Salas</h2>

    <p>
        @Html.ActionLink("Nueva Sala", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.Label("ID")
            </th>
            <th>
                @Html.Label("Sala")
            </th>
            <th>
                @Html.Label("Asientos Totales")
            </th>
            <th>
                @Html.Label("Asientos Reservadors")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.sala_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item.numTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item.numOcupado)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.sala_id }) |
                    @Html.ActionLink("Ver Sala", "VerSalas", new { id = item.sala_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.sala_id })
                </td>
            </tr>
        }

    </table>
